---
layout: default
title: TPT Mod
nav: Mod
---
<div class="jumbotron">
  <h1>V.0.1</h1>
  <p class="lead">Merge ALL the mods!</p>
  <p class="sub-lead">Here should go some more informations about the current release, but I'm too lazy to invent this text so I'm just writing some senseless stuff here.
  </p>
  <div class="btn-group">
    <a class="btn btn-lg btn-success dropdown-toggle" data-toggle="dropdown" href="#">
    Download
    <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <div class="btn-group btn-group-vertical">
        <a class="btn btn-success" href="#">Windows 32-bit</a>
        <a class="btn btn-default" href="#">Windows 64-bit</a>
      </div>
      <div class="btn-group btn-group-vertical">
        <a class="btn btn-default" href="#">Linux 32-bit</a>
        <a class="btn btn-default" href="#">Linux 64-bit</a>
      </div>
    </ul>
  </div>
  <br><small class="text-muted">in-dev branch:&nbsp;</small>
  <a href="https://travis-ci.org/wolfy1339/Wolfy-Powder-Toy"><img src="https://travis-ci.org/wolfy1339/Wolfy-Powder-Toy.svg?branch=master" alt="TravisCI"></a>
</div>
<hr>
<div class="row subheadings">
  <div class="col-md-6">
    <a href="https://github.com/wolfy1339/Wolfy-Powder-Toy">
      <img src="img/github.png" alt="GitHub">
      <h4>GitHub</h4>
    </a>
    <p>You can find the source code of this mod on GitHub and participate with feedback and code.</p>
    <h4>Developers</h4>
    <p>wolfy1339</p>
  </div>
  <div class="col-md-6">
    <h4>TravisCI</h4>
    <p>This mod uses TravisCI to make sure that everything is compilable.</p>
    <h4>Subheading 5</h4>
    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
  </div>
</div>
