body {
    padding-top: 20px;
    padding-bottom: 40px;
}
/* General Styles for index.html */
#index-row {
    margin-top: 20px;
}
.index {
    background-color: #333;
}
.index .h3 {
    text-align: center;
    margin: 0 auto;
}
.logo {
    margin: auto;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .45), inset 0 2px 0 rgba(255, 255, 255, .4);
            box-shadow: 0 0 10px rgba(0, 0, 0, .45), inset 0 2px 0 rgba(255, 255, 255, .4);
    max-height: 256px;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(255, 255, 255, .15)), to(rgba(0, 0, 0, .15)));
    background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, .15)0, rgba(0, 0, 0, .15)100%);
    background-image: -o-linear-gradient(bottom, rgba(255, 255, 255, .15)0, rgba(0, 0, 0, .15)100%);
    background-image: linear-gradient(to top, rgba(255, 255, 255, .15)0, rgba(0, 0, 0, .15)100%);
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, .15)0, rgba(0, 0, 0, .15)100%);
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, .15)0, rgba(0, 0, 0, .15)100%);
    background-image: -ms-linear-gradient(top, rgba(255, 255, 255, .15)0, rgba(0, 0, 0, .15)100%);
}
a.text-muted:hover,
a.text-muted:focus {
    text-decoration: none;
    color: #777;
}
.nav-pills li {
    padding-right: 0.2em;
}

/* General jumbotron styling */
.jumbotron {
    text-align: center;
}
.jumbotron p {
    font-size: inherit;
}
.jumbotron h1 {
    font-size: 50px;
    line-height: 1;
}
.jumbotron .btn-lg {
    font-size: 21px;
    padding: 14px 24px;
}
.jumbotron .lead {
    display: block;
    margin-bottom: 20px;
    line-height: 30px;
}
.sub-lead {
    margin-top: -15px;
}

/* Custom container */
.container {
    margin: 0 auto;
    max-width: 800px;
}

/* Mod download menu */
.jumbotron .dropdown-menu {
    padding-left: 5px;
    padding-right: 5px;
    min-width: 260px;
}
.btn-group-vertical {
    float: left;
    width: 46%;
    margin-right: 10px;
}

/* Centered subheadings */
.subheadings .col-md-6 {
    text-align: center;
}
.subheadings .col-md-6 p {
    margin-left: 10px;
    margin-right: 10px;
}

/* Forum Page list */
.forum-list {
    text-align: left;
    padding-left: 20px;
}

/* Hub jumbotron stuff */
#hub-logo {
    float: right;
}
@media (max-width: 390px) {
    #hub-logo {
        float: none;
    }
}

/* Social buttons on the hub */
.social-buttons {
    text-align: left;
    height: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.social-facebook,
.social-github,
.social-twitter {
    display: inline-block;
    height: 20px;
    width: 18%;
}

/* If this seems weird, it is */
#content {
    clear: both;
    overflow: hidden;
}
ul {
    margin: 0 0 10px 25px;
    padding: 0;
}
li {
    line-height: 20px;
    margin-top: 4px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .footer {
        padding-right: 0;
        padding-left: 0;
    }
}
.footer {
    padding-right: 15px;
    padding-left: 15px;
}
h1, h2, h3, .h1, .h2, .h3 {
    line-height: 40px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    display: block;
    font-weight: 400;
    font-family: inherit;
    text-rendering: optimizelegibility;
    margin: 10px 0;
}

iframe {
    border: 0 none !important;
}
hr {
    margin: 30px 0;
}
