<footer class="footer">
  <a class="text-muted" href="https://github.com/wolfy1339/wolfy1339.github.io">repo</a>
  <a class="text-muted pull-right" href="tos.html">Terms of Service &amp; Cookie policy</a>
</footer>

<!-- JavaScript -->
<script src="//vps.wolfy1339.tk/Resources/js/jquery.min.js"></script>
<script src="//vps.wolfy1339.tk/Resources/js/bootstrap.min.js"></script>
